*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
.container{
  position: relative;
  width: 100%;
  height: 100vh;
}
.weatherApp{
 height: auto;
 width: 50%;
 position: absolute;
 top: 25%;
 left: 25%;
 text-align: center;
}
.icon{
  margin-right: 30px;
}
.dailyTemp{
  margin-right: 45px;
}
.currentWeatherDetails{
  color: #808080;
}
.currentWeatherDetails span{
  position: relative;
top: -13px;
transform: perspective(1px) translateY(-50%);
}
