@import url(https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap);
*,
*:after,
*:before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0;
}
body{
  font-family: 'Noto Sans JP', sans-serif;
}
.chanceOfPrecip{
  font-size: 1.5rem;
}
.container{
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: beige;
}
.currentHumidity{
  font-size: 1.5rem;
}
.currentWeatherDetails{
  display: inline-block;
  vertical-align: bottom;
  color: #373D3F;
}
.currentWeatherDetails span{
  display: inline-block;
  position: relative;
  top: -13px;
  transform: perspective(1px) translateY(-50%);
  vertical-align: middle;
}
.currentWindSpeed{
  font-size: 1.5rem;
  text-align: center;
}
.currentTemp{
  font-size: 9rem;
}
.dailyTemp{
  margin-right: 55px;
  display: inline-block;
  vertical-align: middle;
}
.hiLoTemp{
  font-size: 1.75rem;
  color: #373D3F;
}
.icon{
  margin-right: 40px;
  display: inline-block;
  vertical-align: middle;
}
.summary{
  font-size: 1.75rem;
  display: block;
  color: #373D3F;
}
.weatherApp{
 height: auto;
 width: 50%;
 position: absolute;
 top: 25%;
 left: 25%;
 text-align: center;
}
.todaysDetails{
  display: inline-block;
}

/* Media Queries */
@media (max-width: 960px) {
  .currentWeatherDetails{
    position: relative;
    display: block;
    margin: 0 auto;
  }
  .currentWeatherDetails li{
    position: relative;
    display: inline-block;
    margin-right: 10px;
  }
  .currentWeatherDetails li span{
    height: inherit;
    position: relative;
    top: -7px;
  }
  .dailyTemp{
    display: block;
    margin: 0 auto 20px auto;
  }
  .icon{
    display: block;
    margin: 0 auto;
  }
  .todaysDetails{
    display: block;
    margin: 0 auto;
  }
}
